<!-- BlogComponent.html -->
<div class="card-table">
  <div class="card-table-header d-flex justify-content-between align-items-center">
    <h5>Prédir le nombre des démissions des employées chaque années </h5>
    <button class="btn px-4" routerLink="/create-blog">Prédir</button>
  </div>

</div>


<div class="card-table">
  <div class="card-table-header d-flex justify-content-between align-items-center">
    <h5>prédir le salaire d'un nouveu employé</h5>
    <button class="btn px-4" routerLink="/create-blog">Prédir</button>
  </div>

</div>


<div class="card-table">
  <div class="card-table-header d-flex justify-content-between align-items-center">
    <h5>Système de recommandation </h5>
    <button class="btn px-4" routerLink="/create-blog">Prédir</button>
  </div>

</div>